<div>

<form >

		<div><p class=mytext>Add Semester Courses</p></div>
		<div style=padding-top:5px><input id=semesterNo autocomplete=off ng-model="semesterNo" placeholder="Semester No [1-8]" type=text/></div>
		 <div style=padding-top:5px><button id=mustCourses type=button  ng-click="addMustCourses()" ng-disabled="addCourses">Add</button></div>
		<div style=padding-top:15px> <p class=text2>Add Course</p></div>
		<div  id=coursediv><input id=course autocomplete=off autofocus class=mytext ng-model="course" placeholder="Course name/code" type=text/></div>
		<div style=padding-top:10px><button id=manuelCourse type=button  ng-click="addCourse()" >Add</button></div>
</form>




</div>